@page

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/Stylesheet private.css" />
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet private.css" />
    <meta name="description:share a new earth" />
    <style type="text/css">
        #pre-line {
            white-space: pre-line;
        }

        p {
            text-indent: 6px
        }

        * {
            font-family: 'Microsoft Himalaya',SimSun, font-size2rem
        }

        #bluebg {
            width: 80%;
            margin: 20%;
            background-size: 80%;
            padding: 20%
        }
    </style>
    <title id="wrap">goodluck|a new world! </title>
</head>
<body>
    <header>@*瞄定*@</header>

    <div class="center">
        <a href="/numen/页面0819"><img src="~/images/欢迎.jpg" width="800" height="800" class="center"> </a>
    </div>
    <hgroup>
        <h1 id="pre-line" class="inline">A new earth  </h1>
        <h2 style="background-color:burlywood ;opacity:0.5;" class="justify">近日新闻</h2>

        <h1>what turn day to night?</h1>
    </hgroup><main>
        <article>
            <div class="blue-background " id="bluebg">
                亚马孙——地球上最湿润的热带雨林,“地球之肺”，地球20%的氧气制造机，地球10%的物种聚集区，
                <div>2019年，亚马孙森林火灾频发，巴西、秘鲁与玻利维亚交界处的亚马孙地区为火灾重灾区，集中位于巴西的朗多尼亚州、马托格罗索州和亚马孙州以及玻利维亚境内。</div>
                <div>  截至2019年8月18日，2019年以来亚马孙森林火灾数量超过7.2万起，较2018年同期增长了83%。</div>
                <div> 截至2019年8月22日，巴西境内森林着火点达75336处，较2018年同期增加85%，逾半数着火点位于亚马孙雨林。2019年8月以来，森林着火点已达36771处，较7月同期激增175%。亚马孙地区森林大火已持续燃烧了16天。</div>
                大规模森林砍伐
                <div>
                    <img src="~/images/雨林瀑布.jpg" class="center" alt="forest" height:200%;width:100%; />
                    <p class="italic padding20px">
                        亚马逊雨林一千年前最繁华时期曾经有超过三百万人口的居住，在那片气候温湿，蟒鳄蝎虫，瘴气沼泽，居住面积极少，毫无种植产业的狭小雨林，但却秩序井然生活了世代人口。
                        直到一千年前开始外部人口逐渐发现此宝地。森林逐渐砍伐，各种病毒迁移至内，最大的人口灭绝从西班牙人在1541年的入侵，带来大量疱疹病毒。可为一个并无畜牧业也无农作物的国度能世代滋养众多人口，因为一种黑色土壤Terra preta，是世界上最富有含有微生物，真菌，菌丝类黑色土壤，细腻的土壤好似生命催化剂。无论种植什么植物，坚果，水果都能茂密生长果实富足。因为丰富菌群，微生物茁壮又种类繁多，居民们脾胃筑基，体能强悍。他们是人类最早的最简单最臣服的被寄宿者们。和谐共处一身，
                    </p>
                    <img src="~/images/土壤对比.jpg" class="center;opacity" alt="forest" height:200%;width:120%;/>

                    砍伐森林的主要原因包括大豆和畜牧业生产、水电大坝和道路的建设、矿业和森林火灾。对于总统的“甩锅”，环保人士表示不屑，他们称博索纳罗的目的在于转移人们对监管不力和暗中鼓励非法砍伐问题的注意力。而自他上任以来，本届政府一直在系统性地废除巴西的环境政策。

                    这些行动和政策无疑鼓励了那些滥砍滥伐的人。当地媒体称，农民们在开垦农田和牧场时显得越来越大胆，一些地区的农民甚至趁当局执法不力的机会组织起了“纵火日”。

                    而在8月初，博索纳罗因巴西国家空间研究所（INPE）发布了一份今年亚马逊森林砍伐量比去年高出40%的数据就将其负责人物理学家加尔万解职。

                    因为博索纳罗认为，这种数据会给巴西形象造成“负面影响”，并且怀疑数据的真实性。巴西科学界则回击“数据可以在科学方面受到质疑，而不能因意识形态、政治或其他任何性质的动机而被质疑。”

                    美联社称，尽管巴西政府在开发亚马逊森林时冠以“发展经济”的名义，但专家表示，巴西人，特别是农民可能是过度砍伐森林的第一个受害者，因为它可能会影响区域气候，带来更高的温度和更少的降雨。

                    对于眼下这场大火，在亚马逊森林工作了近30年的保罗·穆蒂尼奥认为，这主要是人为导致，因为在亚马逊地区发生自然火灾非常困难，而人类通常利用火灾来清理大片土地用于耕种或采伐。
                </div>
                <div>
                    儒者公孟子对墨子说，行善就行善吧，何必忙于宣传？墨子回答：你错了 ，现在是乱世，人们失去了正常的是非曲直，求美者多，求善者少，我们如果不站起来勉励引荐，辛苦传扬，人们就不会知道什么是善了。

                    一位齐国老朋友对墨子说，现在普天下的人都不肯行义，只有你还在忙碌，何苦呢？适可而止吧。

                    墨子说；一个家庭有十个儿子，其中九个都不肯劳作，剩下的那一个就只能更努力耕作了，否则这个家庭怎能维持？
                </div>
            </div>


        </article>@*ubfinished*@
        <img src="">
        <h2>It is yige's Private Bases</h2>

        <ul>
            <li>A Student</li>
            <li>from Amoy</li>
        </ul>
        <form>
            <h2>建立个人资料站</h2>
            <p>上传你的头像啦</p>
            <input type="file" />
            <p>请输入你的联系方式（至少选一个！）</p>
            <label>telt</label>
            <input id="tel" type="tel" value="110?" required>
            <label>wechat</label>
            <input id="wechat" type="number" name="user_wechat" required />@*没有显示预期的格式限制*@
            <label>email</label>
            <input id="email" type="email" name="user_email" required />
            <input type="submit" name="personal information" value="submit" />
            <a href="/numen/首页"></a><input type="button" onclick="alert('hello!This is a bonus ')" value="click me" />
        </form>
    </main>


</body>


</html>
