@page

<html>
<head>
    <title>首页</title>
    <style>
        .yige {
            background-color: darkseagreen;
            color: white;
            margin: 20px;
            padding: 20px;
        }
    </style>
</head>
<body>

    <h2 style="text-align:center;"><img src="/images/robots.png" width="90" height="100">welcome to "一格的网站 "!</h2>

    <p style="background-color:lightslategray" font-size:10px;>这里是一格的网站&nbsp;&nbsp;&nbsp;&nbsp;interesting!&nbsp;!&nbsp;&nbsp; funny! </p>
    <h1>Today</h1>
    <i>2019年8月20日</i>
    <div class="yige">
        <h3>To Do list </h3>
        <hr />
        <input type="radio" name="最重要的" /><br />@*这里应该是勾选*@
    </div>
    <h1>Future</h1>
    <i>?年?月?日</i>
    <div class="yige">

        <form method="post"><input type="text" name="请输入你想完成的事" value="" /></form>
        <label for="你是不是一格本人？"></label><br />
        <input type="radio" name="own" id="Yes" />
        <input type="radio" name="own" id="No" />
        <input type="submit" value="提交" />
        <br />
        <br />
    </div>


</body>
</html>
