@page
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet private.css" />
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet private.css" />
    <style type="text/css">
        * {
            font-family: 'Microsoft Himalaya',SimSun, font-size2rem
        }
    </style>
</head>
<body>
    <h1 class="oblique float-left">Daily Challenge</h1>
    <h2 class="oblique">Today's ideas are about classical mechanics</h2>
    <hr>
    <h2>
        Spinning Through Space
       
    </h2>
    <p class="brown-background">
        Another day at the office in your job as a space janitor means more debris to clear.
        Your equipment has been upgraded from the baseball bat in the last problem,though.
        You now have a debris-blaster — a high-powered paintball gun that you can use to shoot
        the debris to where it needs to go.But this blaster is not very accurate, so now you
        are even more likely than before to miss the center of your target. When you hit a bar off-center,
        will it still go as far?

        Keep reading

        Today's Challenge
        You are shifting space debris today with your debris-blaster. You strike two identical metal bars with
        identical pellets, and in each case the pellet perfectly sticks to the bar. But one pellet strikes its
        bar near one end, making it spin, and the other pellet strikes the center of its bar.

    </p>
    @*<input type="button" onclick="alert('congratulation！')" value="@*未定义*@"
    @*<input type="button" onclick="alert('try again')" value="@*未定义*@"   @*这是答案*@
    @*<input type="button" onclick="alert('try again！')" value="@*未定义*@"

</body>
</html>
